<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Face Recognition</h1>
    <div id="camera">
        <img src="{{ url_for('video_feed') }}">
    </div>
    <div id="cameraStatus"></div>
    <form action="/save_face" method="post">
        <button type="submit">Зберегти обличчя</button>
    </form>
    <form action="/recognize_face" method="post">
        <button type="submit">Розпізнати обличчя</button>
    </form>
</body>
</html>
